/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

@import "tailwindcss";

/* Custom Font */
@font-face {
  font-family: 'Dogurtlen';
  src: url('/fonts/DogurtlenDemo-Wpadv.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Utility classes for fonts using next/font variables */
@layer utilities {
  .font-sora {
    font-family: var(--font-sora);
  }
  
  .font-figtree {
    font-family: var(--font-figtree);
  }
  
  .font-big-shoulders {
    font-family: "Big Shoulders Display", sans-serif;
  }
  
  .font-dogurtlen {
    font-family: 'Dogurtlen', sans-serif;
  }
}
